@use "reset.css";


$primary-color: #503848;
$on-primary-color: #debab1;
$base-color: #debab1;
$base-color-highlight: #ceaaa1;
$contrast-color: #f90;

$background-color: $base-color;
$table-stripe-color: $base-color-highlight;
$input-background-color: $base-color-highlight;
$button-color: $base-color-highlight;
$active-button-color: $base-color-highlight;
$font-color: $primary-color;
$secondary-font-color: $on-primary-color;

@mixin button {
  border: 1px solid $font-color;
  background-color: $background-color;
  padding: 0.5rem;
  &:hover {
    background-color: $button-color;
  }
  &:focus {
    border-style: dashed;
  }
  &:active {
    background-color: $active-button-color;
  }
}

body {
  font-family: sans-serif;
  background: $background-color;
  color: $font-color;

  section#new {
    margin: 1rem 0 0 0;

    form {
      fieldset {
        padding: 0;
        width: 100%;
        display: flex;
        gap: 0.5rem;
        border: 0;

        button {
          @include button;
        }

        input[type=url] {
          flex-grow: 2;
          background-color: $background-color;
          border: 1px solid $font-color;
          padding: 0.5rem;
          outline: none;

          &:focus, &:active {
            border: 1px solid $font-color;
            background-color: $input-background-color;
          }
        }
      }
    }
  }

  section#things {
    table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      width: 100%;

      thead tr {
        background-color: $primary-color;
        color: $on-primary-color;
        text-align: left;
      }

      td, th {
        padding: 1rem 2rem;

        button {
          @include button;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $primary-color;
        }

        tr:nth-of-type(even) {
          background-color: $table-stripe-color;
        }

        tr:last-of-type {
          border-bottom: 2px solid $font-color;
        }
      }
    }
  }
}
