<html>
<head>
    <title>lockup</title>
    <script src="static/bundle.js" type="application/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Lockup</h1>
<section id="new">
    <form>
        <fieldset>
            <input autofocus type="url" name="url" placeholder="Add a thing!">
            <button type="submit"
                    hx-post="/things/"
                    hx-target="#thingsbody"
                    hx-swap="beforeend">Add
            </button>
        </fieldset>
    </form>
</section>
<section id="things">
    <h2>Things</h2>
    <table id="things">
        <thead>
        <tr>
            <th>Thing</th>
            <th>Tags</th>
            <th>Added</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="thingsbody">
        {{# each things}}
            {{> thingrow}}
        {{/each}}
        </tbody>
    </table>
</section>
</body>
</html>